<nav class="navbar navbar-expand-sm text-white-50 bg-dark navbar-green">

  <div class="container-fluid">
  <div class="navbar-header">
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

  <ul class="nav navbar-nav">
  <li><a  style="position: relative;left:7em; color:white;font-size:20px" class="nav-link" routerLink="/home"routerLinkActive="active">Home</a></li>
  <li><a  style="position: relative;left:12em; color:white;font-size:20px" class="nav-link" routerLink="/about"routerLinkActive="active">about</a></li>
 </ul>
  </div>
  </div>
  </div>
 </nav>